{% extends 'base.html' %}
{% load static %}


{% block content %}
        <!--================Post Slider Area =================-->
        <section class="post_slider_area">
			<div class="post_slider_inner owl-carousel">
				{% for post in posts %}
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src="{{ post.image.url }}" height="640" alt="">
						</div>
						<div class="post_text">
							{% for tag in post.tag.all %}
							<a class="cat" href="{% url 'posts:tag_detail' tag.slug %}">{{ tag.title }}</a>
							{% endfor %}
							<a href="{% url 'posts:detail_archive' pk=post.pk slug=post.slug %}"><h4>{{ post.title }}</h4></a>
							<p>{{ post.content | truncatechars:150 }}</p>
							<div class="date">
								<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.publishing_date}}</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
        </section>
        <!--================End Post Slider Area =================-->

        <!--================Blog Area =================-->
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
							{% for post in archives %}
                            <article class="blog_style1">
                            	<div class="blog_img">
                            		<img class="img-fluid" src="{{ post.image.url }}" alt="" style="width:100%">
                            	</div>
                            	<div class="blog_text">
									<div class="blog_text_inner">
										{% for tag in post.tag.all %}
										<a class="cat" href="#">{{ tag.title }}</a>
										{% endfor %}
										<a href="{% url 'posts:detail_archive' pk=post.pk slug=post.slug %}"><h4>{{ post.title }}</h4></a>
										<p>{{ post.content|truncatechars:175 }}</p>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.publishing_date }}</a>
										</div>
									</div>
                            	</div>
                            </article>
                           {% endfor %}
							{% if is_paginated %}
                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
									{% if page_obj.has_previous %}
		                            <li class="page-item">
		                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>

									{% else %}
									<li class="page-item disabled">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}

									{% for i in paginator.page_range %}
									{% if page_obj.number == i %}

		                            <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
		                            {% else %}
									<li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
		                            {% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
		                            <li class="page-item">
		                                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>

									{% else %}
									<li class="page-item disabled">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}
		                        </ul>
		                    </nav>
							{% endif %}
                        </div>
                    </div>
{% include 'right_side.html' %}
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->

{% endblock %}